@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0.5em;
    list-style: none;
}
#main {
    padding:1em;
}

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
}

.brand {
    font-weight: bolder;
    font-size: 1em;
    color: rebeccapurple;
}
