{% extends "layouts/default.html" %}
{% block title %}{{manufacturer.name}} - The Computer Store{% endblock %}
{% block content %}
<div id="main">
  <h1>Manufacturers</h1>
  <p>Code: {{manufacturer.code}}</p>
  <p>Name: {{manufacturer.name}}</p>

  <h2>Products</h1>
<table>
    <thead>
      <tr>
	<th>Code</th>
	<th>Name</th>
	<th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
	<td>{{product.code}}</td>
	<td><a href="/products/{{product.code}}">{{product.name}}</a></td>
	<td>${{product.price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
